{% extends 'base.html' %}

{% block title %}
Search-mus
{% endblock %}

{% block content %}
<form class="my-3" method='POST' action="" class="container">
    <div class="input-group row"><input type="text" name="musician" id="musician" value="{{musician_name}}"
                                        class="form-control" placeholder="Enter musician name" required>
        <div class="input-group-append">
            <button id="submit-select" class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
        <div class="input-group-append">
            <button id="clear-data" class="btn btn-outline-danger">Clear Field</button>
        </div>
    </div>
    <div class="row d-flex align-items-center my-3">
        <div class="col-auto text-center">1</div>
        <div class="col-5"><input type="range" min="1" max="10" id="limit" name="limit" value="{{limit | default(5)}}"
                                   class="range-input"></div>
        <div class="col-auto text-center">10</div>
        <div class="col-6 d-flex justify-content-center changed-stat">  {{limit | default(5)}}/10</div>
    </div>
</form>

{% if musicians %}
<div class="add-data">
    <p>Кількість до фільтрації:{{founded_data}}</p>
</div>
<table id="table-for-singers" class="table table-hover table-dark mt-4">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Type</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>

    {% for musician in musicians %}
    <tr>
        <td>{{ musician.name }}</td>
        <td>{{ musician.country }}</td>
        <td>{{ musician.type }}</td>
        <td>
            <form action="/info" method="post">
                <button type="submit" class="btn btn-outline btn-info">More info</button>
                <input type="hidden" value="{{musician.id}}" name="musician_id">
            </form>
            <legend class="">Chose your attitude towards musician/s</legend>
            <input type="checkbox" name="choices" id="following_{{ musician.id }}" value="following">
            <label for="following_{{ musician.id }}">Спостерігати</label>
            <input type="checkbox" name="choices" id="adoring_{{ musician.id }}" value="adoring">
            <label for="adoring_{{ musician.id }}">Обожнювати</label>
            <input type="checkbox" name="choices" id="hating_{{ musician.id }}" value="hating">
            <label for="hating_{{ musician.id }}">До чорного листа</label>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2 class="text-danger">{{error}}</h2>
<p>Кількість до фільтрації:{{founded_data}}</p>
{% endif %}
{% endblock %}