{% extends 'base.html' %}

{% block title %}
1
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between my-3 row p-3 border border-3 border-dark rounded">
        <div class="col-12 col-md-7">
            <h3>Musician Information</h3>
            <p>Here is some general information about the musician.</p>
        </div>
        <div class="col-12 col-md-5 m d-flex justify-content-end">
            <!-- Карточки для кожного виведення musician.name -->
            <div class="d-flex flex-column align-items-start">
                    <div class="card mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ musician.name }}</h5>
                            <p class="card-text">Some more details about the musician can go here. You can add more information as needed.</p>
                        </div>
                    </div>
                {% if musician.type == 'Person'%}
                  <div class="card mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="d- card-title">{{ musician.gender }}</h5>
                            <p class="card-text">Some more details about the musician can go here. You can add more information as needed.</p>
                        </div>
                    </div>
                {%endif%}
                  <div class="card mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ musician.type }}</h5>
                            <p class="card-text">Some more details about the musician can go here. You can add more information as needed.</p>
                        </div>
                    </div>
                  <div class="card mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ musician.country }}</h5>
                            <p class="card-text">Some more details about the musician can go here. You can add more information as needed.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
